* {
  margin: 0;
  padding: 0;
  outline: border-box;
}

html,
body {
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: $grey;
  color: $white;
}